*{
    box-sizing: border-box;
}
BODY{
    margin: 0;
}
.text-1{
    /* width: 142px;
    height: 39px;
    left: 96px;
    top: 44px; */
    font-family: 'Quella';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #1E1E1E;
    /* margin-top: 44px;
    margin-left: 80px; */
}
.text-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
}
.text-3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}
.container-1{
    display: flex;
    /* gap: 48px;
    margin-left:380px;
    margin-top: -55px; */
    width: 1245px;
    margin-inline: auto;
}
.container-2{
    width: 216px;
    height: 24px;
    display: flex;
    gap:48px;
    margin-inline: auto;
    margin-left: 600px;
    margin-top: 25px;
}
.container-3{
    width: 1248px;
    height: 512px;
    left: 96px;
    top: 123px;
    background: #C1DCDC;
    border-radius: 24px;
    margin-left: 130px;
    
    
}
.text-4{
    width: 512px;
    height: 128px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
    margin-left: 30px;
}.container-4{
    width: 512px;
    height: 339px;
}
.container-5{
    width: 150px;
    height: 75px;
    margin-left: 30px;
    display: flex;
}
.text-5{
    width: 64px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
    margin-top: -10px;
}
.text-6{
    width: 122px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
    margin-top: -25px;
}
.text-7{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
    margin-top: -10px;
    margin-left: 15px;
}
.text-8{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
    margin-top: -25px;
    margin-left: 15px;
}
.submit{
    width: 449px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    margin-left: -100px;
}
.container-8{
    width: 450px;
    height: 400px;
    left: 726px;
    top: 123px;
    background: #1E1E1E;
    border-radius: 200px 200px 0px 200px;
    margin-top: -90px;
    display: flex;
    margin-left: 70px;
}
.vector{
    width: 112.54px;
    height: 154.41px;
}
.container-10{
    width: 48px;
    height: 48px;   
    background: #C1DCDC;
    border-radius: 12px;
    margin-left: -60px;
    margin-top: 8px;
    background-image: url(Vector.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.container-9{
    display: flex;
    margin-left: -30px;
    align-items: center;
    /* justify-content: center; */
}
.section{
    margin-top: 25px;
    margin-left: 100px;
    display: flex;
    gap: 40px;
}
